@{
    ViewData["Title"] = "Home Page";
}
<head>
<h1>LOS 7 BOSTEROS</h1>
<img src = "bostero.png" alt="">
</head>
<div>
    @foreach (int clave in ViewBag.grupo.Keys){
        <p>@ViewBag.grupo[clave].GetNombre()</p>
        <img src='img/@ViewBag.grupo[clave].GetFoto()' alt = ""/>
    }
    <a href="theo.cshtml">Información de Theo</a>
    <a href="dani.cshtml">Información de Dani</a>
</div>

