@{
    ViewData["Title"] = "Home Page";
}
<head>
<h1>LOS 7 BOSTEROS</h1>
<img src = "img/bostero.jpg" alt=""/>
</head>
<div>
    @foreach (int clave in ViewBag.grupo.Keys)
    {
        <p>@ViewBag.grupo[clave].GetNombre()</p>
        <img src='img/@ViewBag.grupo[clave].GetFoto()' alt = ""/>
        <a href=@Url.Action("SelectIntegrante", "Home", new{dni = ViewBag.grupo[clave].GetDni()})>informacion del integrante</a>
    }
</div>